* {
    font-family: arial, sans-serif;
    color: #545454;
}

html,
body {
    margin: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper.indexPage {
    justify-content: center;
}

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainSection .searchContainer {
    margin-top: 20px;
    width: 100%;

}

.mainSection .searchContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchContainer .searchButton {
    color: #757575;
    background-color: #f5f5f5;
    border: none;
    height: 36px;
    width: 125px;
    border-radius: 1px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}
